
.general{
  background-image: url("./varios.webp");
  background-size: cover;
}


/* Estilos para el contenedor principal */
.detailContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #61a71f;
}

/* Estilos para la imagen */
.detailImageContainer {
  width: 100%;
  max-width: 200px; /* Ajusta según sea necesario */

  margin-bottom: 10px; /* Espaciado opcional entre la imagen y la descripción */
}

.detailImage {
  width: 300%;
  height: auto;
}

/* Estilos para la descripción */
.detailDescription {
  margin-top: 10px;
  font-size: small;
}

