.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    /* margin-top: -32px;  */
    
  }
  
  .input {
    max-width: 190px;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    /* caret-color: #f7f7f8; */
    color: #1f1d1d;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-top: 50px;

  }
  
  .input:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .input:focus {
    border: 2px solid #a970ff;
    background-color: #d0d0d6;
  }
  
  .boton {
    /* border: none;
    cursor: pointer; */
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .boton:hover {
    background-color: rgb(146, 146, 146);
  }